/* IMPOSTAZIONI GENERALI */

body{

    font-family: 'Fira Sans', sans-serif;
   
    font-size: 1.5rem;
    line-height: 1.8;
}
h1{
    font-weight: bold;
    font-size: 4rem;
}
h2{
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;

}
h4{
    font-weight: bold;
}
h6{
    font-weight: bold;
    font-size:1.2rem;
}

p{
    text-align: center;
    font-size: 1.2rem;
}
th{
    font-weight: bold;
}
caption{
    font-weight: bold;
}





/* HEADER */
#header {

    justify-content: space-between;
    box-shadow: 0 2px 15px #d3d3d3;

    display: flex;
    flex-wrap: wrap;

    position: sticky;

}
header nav{
    text-align: right;
}

#menu{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
    
}

#apri-menu{
    display: none;
}

input:checked + #menu{
    height: 100px;
}

.section1{
    color: #fff;
    background-position: center;
    background-size: cover;
    
    text-align: center;
    padding-bottom: 40px;
    
    background-image: url(/start-20220323T114750Z-001/start/assets/images/banner.jpg);
   
}
.bottone{
  
    font-family: 'Fira Sans', sans-serif;
    background-image: linear-gradient(to right, #6cc1e2, #392f7a);
    color: white;
    text-decoration: none;
    padding: 10px 10px;
    margin-left: 5%;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    animation-name: pulsa;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    box-shadow: 0px 0px 15px black;
    width: 100%;
    

}


@keyframes pulsa{
    0% {box-shadow: 0px 0px 90px black, 0px 0px 50px white}
    50% {box-shadow:0px 0px 1px white, 0px 0px 10px black}
    100% {box-shadow:0px 0px 50px black, 0px 0px 10px black};
    }





/* MAIN */


.section2{
    
    text-align: center;
    background-position: center;
    
}
.s1{
    

    align-items: center;
    background-position: center;
   
    text-align: center;  
    background-size: contain;

}

.s2{ background-position: left;
   
    text-align: center;
    background-size: contain;

}

.scrivici{
  
    margin-top: 30;
    background-color: #0c0633;
    
    background-position: center;
    text-align: center;
    padding-bottom: 30px;
    padding: 20px;
    background-size: contain;
    color: #fff;
    

}


#chisiamo1{
    text-align: center;
    background-position: center;
    background-size: contain;
}
.img{
    background-position: center;
    text-align: center;
}
table {
    align-items: center;
    table-layout: fixed;
    text-align: center;
    border: 0.5px solid rgb(238, 238, 238) ;
    border-collapse: separate;
    border-spacing: 5px;
    background-position: center;
}
.contatti{
   
    background-position: center;
    text-align: center;
    
    background-size: contain
}

.caselle{
    background-position: center;
    text-align: center;

}
.section3{
    text-align: center;
   
}

/* FOOTER */
footer{ background-color: rgb(238, 238, 238);
text-align: center;
}












/* RESPONSIVE */
